body {
    background-color: #012345;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}


.heading {
    position: fixed;
    left: 10%;
    top: 30px;
    background: lightgrey;
    height: 60px;
    width: 80%;
    padding: 0px;
    display: inline-flex;
}

.heading-line {
    display: none;
    position: fixed;
    left: 0px;
    top: 60px;
    background: lightgrey;
    height: 30px;
    width: 100%;
    padding: 0px;
    display: inline-flex;
}

#logoimage {
	display: inline;
    position: relative;
	overflow: visible;
    left: -90%;
    top: 5px;
    width: 50px;
    height: 50px;
}

#logotext {
	display: inline;
    position: relative;
	overflow: visible;
    left: 50px;
    top: 0px;
    text-decoration: none;
    font-family: Stencil, serif;
    font-size: 30px;
    color: darkgreen;
    cursor: hand;
    pointer-events: auto;
}

.buttons {
	display: inline;
}

#logintoggle1, #logintoggle0, #uploadbutton,
#albumsbutton, #feedbutton, #infobutton, .user-name {
    display: block;
    position: fixed;
	float: left;
	overflow: hidden;
    top: 30px;
    margin: 0px;
    border: 0px solid aliceblue;
	outline: 0;
    height: 60px;
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    font-size: 16px;
    color: black;
    background: blue;
    background-color: transparent;
}

#logintoggle1:hover, #logintoggle0:hover, #uploadbutton:hover,
#albumsbutton:hover, #feedbutton:hover, #infobutton:hover {
	background-color: darkgrey;
}

#logintoggle1 {
	display: block;
    /*position: fixed;
	float: left;
	overflow: hidden;*/
    right: 11%;
    /*top: 0px;
    margin: 0px;
    border: 0px solid aliceblue;
	outline: 0;
    height: 40px;*/
    min-width: 60px;
    /*text-align: center;
    font-size: 13px;
    color: black;
    background: blue;
    background-color: transparent;*/
}

#logintoggle0 {
    display: none;
    /*position: fixed;
	float: left;
	overflow: hidden;*/
    right: 11%;
    /*top: 0px;
    margin: 0px;
    border: 0px solid aliceblue;
	outline: 0;
    height: 40px;*/
    min-width: 60px;/*
    text-align: center;
    font-size: 13px;
    color: black;
    background: blue;*/
    background-color: darkgrey;
}

.user-name {
    display: block;
    position: fixed;
    right: 16%;
    width: inherit;
    overflow: inherit;
    top: 50px;
    color: black;
}

#uploadbutton {
    /*display: block;
    position: fixed;
	float: left;
	overflow: hidden;*/
    left: 30%;
    /*top: 0px;
    margin: 0px;
    border: 0px solid aliceblue;
	outline: 0;
    height: 40px;*/
    min-width: 60px;
    /*text-align: center;
    font-size: 13px;
    color: black;
    background: blue;
    background-color: transparent;*/
}

/*#uploadbutton:hover {
	background-color: darkgrey;
}*/

#albumsbutton {
	left: 37%;
}

/*#albumsbutton:hover {
	background-color: darkgrey;
}*/

#feedbutton {
    /*display: block;
    position: fixed;
	float: left;
	overflow: hidden;*/
    left: 47%;
    /*top: 0px;
    margin: 0px;
    border: 0px solid aliceblue;
	outline: 0;
    height: 40px;
    width: 81px;
    text-align: center;
    font-size: 13px;
    color: black;
    background: blue;
    background-color: transparent;*/
}

/*#feedbutton:hover {
	background-color: darkgrey;
}*/

#infobutton {
	left: 57%;
}
	
#srchinput {
    display: none;
    position: relative;
    right: -400%;
    top: 17.5px;
    height: 25px;
    text-align: center;
    border: solid 1px darkgrey;
    border-radius: 4px;
	margin: 0 0 0 0;
    color: black;
}

::-moz-placeholder {
    font-size: 12px;
}

#srchbttn {
    display: none;
}

.logform {
    display: none;
    position: fixed;
    background: darkgrey;
    width: 300px;
    height: 280px;
    left: 45px;
    top: 40px;
    border-radius: 10px 0px 5px 5px;
}

#logformline {
    position: relative;
    top: 0px;
    left: -12px;
    display: block;
    width: 216px;
    height: 3px;
    background: #012345;
}

#n6us {
	cursor: pointer;
}

.mainarea {
    position: fixed;
    left: 10%;
    top: 90px;
    background: lightgrey;
    height: 60px;
    width: 80%;
    padding: 0px;
    display: inline-flex;
}

div.autor {
    position: absolute;
    right: 45%;
    bottom: 0px;
	overflow: visible;
}

#fblink {
    position: relative;
    left: -50px;
    bottom: -10px;
}

#author {
    position: relative;
    right: 5px;
    bottom: 5px;
    padding: 0px;
    border: 2px double cornsilk;
    background-color: cornsilk;
    font-family: Arial;
    font-size: 8px;
	border-radius: 4px 4px 4px 4px;
}
