body {
    background-color: #012345;
}

.heading {
    position: fixed;
    left: 0px;
    top: 0px;
    background: lightgrey;
    height: 40px;
    width: 100%;
    padding: 0px;
    display: inline-flex;
}

#logoimage {
    position: relative;
    left: -5px;
    top: 0px;
    width: 30px;
    height: 30px;
}

#logotext {
    position: absolute;
    left: 50px;
    top: 0px;
    text-decoration: none;
    font-family: Stencil, serif;
    font-size: 30px;
    color: darkgreen;
    cursor: hand;
    pointer-events: auto;
}

#logintoggle1 {
    display: block;
    position: fixed;
    left: 250px;
    top: 0px;
    margin: 0px;
    border: 0px solid aliceblue;
    height: 40px;
    width: 81px;
    text-align: center;
    font-size: 13px;
    color: aliceblue;
    background: blue;
    background-color: darkgrey;

}#logintoggle0 {
    display: none;
    position: fixed;
    left: 250px;
    top: 0px;
    margin: 0px;
    border: 0px solid aliceblue;
    height: 40px;
    width: 81px;
    text-align: center;
    font-size: 13px;
    color: aliceblue;
    background: blue;
    background-color: darkgrey;
}

#srchinput {
    display: inline;
    position: absolute;
    right: 100px;
    top: 10px;
    height: 20px;
    text-align: center;
    border: solid 1px darkgrey;
    border-radius: 4px;
    color: black;
}

::-moz-placeholder {
    font-size: 12px;
}



#srchbttn {
    display: none;
}

.logform {
    display: none;
    position: fixed;
    background: darkgrey;
    width: 286px;
    height: 280px;
    left: 45px;
    top: 40px;
    border-radius: 10px 0px 5px 5px;
}

#logformline {
    position: relative;
    top: -265px;
    left: -15px;
    display: flex;
    width: 205px;
    height: 3px;
    background: #012345;
}

#gif {
    position: absolute;
    top: 100px;
    right: 50px;
    cursor: crosshair;
}

div.autor {
    position: absolute;
    right: 0px;
    bottom: 0px;

}

#fblink {
    position: relative;
    left: -50px;
    bottom: -10px;
}

#author {
    position: relative;
    right: 5px;
    bottom: 5px;
    padding: 0px;
    border: 2px solid cornsilk;
    background-color: cornsilk;
    font-family: Arial;
    font-size: 8px;
}