body {
    background-color: #012345;
}

.heading {
    position: fixed;
    left: 0px;
    top: 0px;
    background: lightgrey;
    height: 40px;
    width: 100%;
    padding: 0px;
    display: inline-flex;
}

#logoimage {
	display: inline;
    position: relative;
	overflow: visible;
    left: -5px;
    top: 0px;
    width: 30px;
    height: 30px;
}

#logotext {
	display: inline;
    position: absolute;
	overflow: visible;
    left: 50px;
    top: 0px;
    text-decoration: none;
    font-family: Stencil, serif;
    font-size: 30px;
    color: darkgreen;
    cursor: hand;
    pointer-events: auto;
}

#logintoggle1 {
    display: block;
    position: fixed;
	float: left;
    left: 264px;
    top: 0px;
    margin: 0px;
    border: 0px solid aliceblue;
	outline: 0;
    height: 40px;
    width: 81px;
    text-align: center;
    font-size: 13px;
    color: black;
    background: blue;
    background-color: transparent;
}

#logintoggle0 {
    display: none;
    position: fixed;
	float: left;
    left: 264px;
    top: 0px;
    margin: 0px;
    border: 0px solid aliceblue;
	outline: 0;
    height: 40px;
    width: 81px;
    text-align: center;
    font-size: 13px;
    color: black;
    background: blue;
    background-color: darkgrey;
}

#logintoggle1:hover {
	background-color: darkgrey;
}

#srchinput {
    display: inline;
    position: relative;
    right: -400%;
    top: 10px;
    height: 20px;
    text-align: center;
    border: solid 1px darkgrey;
    border-radius: 4px;
	margin: 0 0 0 0;
    color: black;
}

::-moz-placeholder {
    font-size: 12px;
}



#srchbttn {
    display: none;
}

.logform {
    display: none;
    position: fixed;
    background: darkgrey;
    width: 300px;
    height: 280px;
    left: 45px;
    top: 40px;
    border-radius: 10px 0px 5px 5px;
}

#logformline {
    position: relative;
    top: 0px;
    left: -12px;
    display: block;
    width: 216px;
    height: 3px;
    background: #012345;
}

#n6us {
	cursor: pointer;
}

#gif {
    position: absolute;
    top: 100px;
    right: 50px;
    cursor: crosshair;
}

div.autor {
    position: absolute;
    right: 45%;
    bottom: 0px;
	overflow: visible;
}

#fblink {
    position: relative;
    left: -50px;
    bottom: -10px;
}

#author {
    position: relative;
    right: 5px;
    bottom: 5px;
    padding: 0px;
    border: 2px double cornsilk;
    background-color: cornsilk;
    font-family: Arial;
    font-size: 8px;
	border-radius: 4px 4px 4px 4px;
}