* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; http://enos.itcollege.ee/~msumla/Fotokas/Images/Icons/icon-back.png
}

body {
    background-color: #012345;
    margin: 0px;
    -webkit-transition: opacity 1s ease-in;
       -moz-transition: opacity 1s ease-in;
        -ms-transition: opacity 1s ease-in;
         -o-transition: opacity 1s ease-in;
            transition: opacity 1s ease-in;
}

.content {
	opacity: 0;
    -webkit-transition: opacity 1s ease-in;
       -moz-transition: opacity 1s ease-in;
        -ms-transition: opacity 1s ease-in;
         -o-transition: opacity 1s ease-in;
            transition: opacity 1s ease-in;
}

.preload {
	display: inline;
    opacity: 1;
	background-image: url('Images/Icons/icon.png');
	background-repeat: no-repeat;
    width: 75%;
    height: 75%;
    position: fixed;
	left: 31%;
	top: 23%;
    -webkit-transition: opacity 1s ease;
       -moz-transition: opacity 1s ease;
        -ms-transition: opacity 1s ease;
         -o-transition: opacity 1s ease;
            transition: opacity 1s ease;
}

.mainarea {
    display: inline;
    position: fixed;
    top: 27%;
    left: 10%;
    width: 80%;
    height: 65%;
    background: lightgrey;
    overflow: hidden;
    border-radius: 0px 0px 0px 0px;
}

#icon-back {
    display: inline;
    padding: 1%;
    position: absolute;
    background-position: 50% 50%;
    background-size: cover;
    max-width: 100%;
    max-height: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.dreg_log_menu-area {
	display: block;
	position: absolute;
	background: darkgrey;
	right: 0%;
	top: 0%;
	width: 300px;
	height: 300px;
}

.login-area {
    display: none;
    position: absolute;
    /*top: 0%;
    right: 10%;
    background: transparent;
    width: 300px;
    height: 320px;
    border-radius: 10px 10px 10px 10px;*/
}

.regin-area {
    display: none;
    position: absolute;
    /*position: static;
    top: 0%;
    right: 10%;
    background: darkgrey;
    width: 300px;
    height: 320px;
    border-radius: 10px 10px 10px 10px;*/
}

.menu-area {
	display: none;
	position: absolute:
	right: 0%;
}

.upload-area {
    display: none;
    position: absolute;
    background: darkgrey;
    text-align: center;
    width: 60%;
    height: 30%;
    top: 30%;
    left: 15%;
    border: 2px solid black;
    margin: 50px 50px 50px 50px;
    border-radius: 5px 5px 5px 5px;
}

#albums-box {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
}

.albums-area {
    display: none;
    position: absolute;
    left: 4px;
    top: 4px;
    width: 99%;
    height: 99%;
}

#feed-box {
    display: none;
    position: absolute;
    left: 25%;
    top: 25%;
    width: 30%;
    height: 20%;
    text-align: left;
    color: blue;
    outline: 0;
    background: darkgrey;
    opacity: 0.8;
    margin: 4px 4px 4px 4px;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
}

#feed-submit-button {
    display: none;
    position: absolute;
    left: 25%;
    top: 20%;
}

.colors {
	border: 2px solid black
	padding: 2px;
	font-weight: bold;
}

#colorbutton {
	width: 10em;
	text-align: center;
}

.heading {
    display: inline;
    position: fixed;
    padding: 0%;
    background: lightgrey;
    top: 5%;
    left: 10%;
    width: 80%;
    -webkit-transform: translate(0%, 0%)
}

.heading-line {
    display: inline;
    position: fixed;
    left: 0%;
    top: 100%;
    background: orange;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 30%;
    width: 100%;
    padding: 0px;
}

#user-name {
    display: inline;
    position: fixed;
    right: 2.5%;
    top: 104%;
    overflow: hidden;
    color: black;
    font-size: 3vh;
}

#logoimage {
	display: inline-block;
    position: relative;
	overflow: visible;
    max-width: 75%;
    max-height: 75%;
    margin: 5% 5% 5% 5%;
	z-index: 1;
}

#logoimageflash {
	display: inline-block;
	position: relative;
	background: url('Images/Icons/flash.png');
	width: 50%;
	height: 50%;
    -webkit-transform: scale(0.5);
	   -moz-transform: scale(0.5);
		 -o-transform: scale(0.5);
            transform: scale(0.5);
	z-index: 0;
}
			
#logimageflash:hover {
    -webkit-transform: scale(1);
	   -moz-transform: scale(1);
		 -o-transform: scale(1);
            transform: scale(1);
}

#logintoggle1, #logintoggle0, #regintoggle1, #regintoggle0, #flogouttoggle1,
#flogouttoggle0, #uploadbutton,
#albumsbutton, #feedbutton, #infobutton, #menutoggle1, #menutoggle0, #uploadbutton-text {
    display: inline-block;
    position: relative;
	float: left;
	overflow: visible;
    top: 0em;
    left: 0em;
    margin: 0% 0% 0% 0%;
	outline: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: black;
	background: transparent;
    -webkit-transform: scale(0.5);
	   -moz-transform: scale(0.5);
		 -o-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transition: 1s ease;
	   -moz-transition: 1s ease;
         -o-transition: 1s ease;
            transition: 1s ease;
}

#logintoggle1:hover, #logintoggle0:hover, #regintoggle1:hover, #regintoggle0:hover, #logouttoggle1:hover,
#logouttoggle0:hover, #uploadbutton:hover,
#albumsbutton:hover, #feedbutton:hover, #infobutton:hover, #menutoggle1:hover, #menutoggle0:hover {
	background: darkgrey;
    -webkit-transform: scale(1);
	   -moz-transform: scale(1);
		 -o-transform: scale(1);
            transform: scale(1);
}

#uploadbutton {
    display: inline-block;
}

#2uploadbutton-text {
    display: inline-block;
    left: 30%;
	top: 30%;
    width: 60px;
    min-width: 60px;
}

#2uploadbutton:hover, #2uploadbutton-text {
    position: fixed;
    display: inline-block;
	background-color: darkgrey;
}

#logintoggle1 {
    display: inline-block;
}

#logintoggle0 {
    display: none;
}

#logouttoggle1 {
    display: inline-block;
}

#logouttoggle0 {
    display: none;
}

#regintoggle1 {
    display: inline-block;
}

#regintoggle0 {
    display: none;
}

#menutoggle1 {
    display: inline-block;
}

#menutoggle0 {
    display: none;
}

#srchbttn {
    display: none;
}

#n6us {
	cursor: pointer;
}

div.autor {
    position: absolute;
    right: 45%;
    bottom: 0px;
	overflow: visible;
}

#fblink {
    display: none;
    position: relative;
    left: -50px;
    bottom: -10px;
}

#author {
    display: none;
    position: relative;
    right: 5px;
    bottom: 5px;
    padding: 0px;
    border: 2px double cornsilk;
    background-color: cornsilk;
    font-family: Arial;
    font-size: 8px;
	border-radius: 4px 4px 4px 4px;
}
